.filter {
  &__dd {
    display: flex;

    &--select {
      min-width: 150px;
      display: flex;
      padding: 12px 10px 12px 10px;
      background: #F6F6F8;
      border-radius: 5px;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%2345526C' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: calc(100% + 5px);
      background-position-y: 60%;
      background-size: 3.5em auto;
      outline: none;
      font-size: $font-sm;
      @media (max-width: 1919px) {
        font-size: $font-xxs;
      }
      &__styled {
        font-size: $font-lg;
        @media (max-width: 1919px) {
          font-size: $font-md;
        }
        min-width: fit-content;
        text-align: right;
        appearance: none;
        background-color: transparent;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        &::-ms-expand {
            display: none;
        }
      }
    }
  }
}