.checkbox + label {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 2px solid #bcbcbc;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
  }

  .checkbox:checked + label:after {
    content: "✓";
    background-color: #C6C6C6;
    color: #fff;
    font-size: $font-lg;
    width: 25px;
    height: 25px;
    position: relative;
    display: block;
    text-align: center;
  }

  .checkbox {
    display: none;
  }