.todo__item {
  width: 100%;
  list-style-type: none;
  font-size: $font-lg;
  @media (max-width: 1919px) {
    font-size: $font-md;
  }
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 1em 0 .2em 0;
  height: 2.5em;

  &--inner {
    width: 80%;
    padding: .1em 0;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
  }

  &--content {
    width: 100%;
    display: flex;
    align-items: center;

  }

  &--delete {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }

  &:hover {
    background-color: $highlighted-bg-color;
    color: $text-color;
  }

  &:hover .filter__dd {
    width: 18%;
  }

  &:hover .filter__dd--select {
    color: $text-color !important;
  }

  &:hover .checkbox + label {
    border: 2px solid $text-color !important;
  }

  &:hover .checkbox:checked + label:after {
    background-color: $text-color !important;
  }

  &:hover .todo__item--delete {
    display: flex;
    align-items: center;
  }

  &:hover .item__detail > * {
    color: $text-color;
  }

  &:hover .filter__dd--selected__styled {
    color: $text-color;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%234F61FF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% + 25px);
    background-position-y: 50%;
    background-size: 3em auto;
    padding-right: 30px;

    @media (max-width: 1919px) {
      background-position-x: calc(100% + 20px);
      padding-right: 25px;
    }
    & > img {
      display: none;
    }
  }
}

.item__detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  &--text {
    width: 100%;
    font-size: $font-lg;
    line-height: initial;
    @media (max-width: 1919px) {
      font-size: $font-md;
    }
  }
  &--date {
    width: 100%;
    font-size: $font-xxs;
    color: #C6C6C6;
  }
}