.todo__list {
  width: 100%;
  min-height: 65%;
  height: auto;
  padding: 0;
  margin: 0;
  padding-bottom: 3.8em;

  @media (max-width: 1919px) {
    margin-top: 10px;
    padding-bottom: .5em;
  }
}

.todo__separator {
  height: 0px;
  width: 38vw;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 2px solid #C6C6C6;

  @media (max-width: 1919px) {
    width: 40vw;
  }
}